<?xml version='1.0' encoding='utf-8'?>
<configuration>
<!--<connectionstrings>
<add name="SQL"  providerName="System.Data.SqlClient" connectionString="Data Source=MDDSK40034-2\PVV;Integrated Security=False;User ID=sa;Password=5p93Yan2;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"></add>
</connectionstrings>-->
</configuration>