
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="ProductTable"></div>
<div>
	<script src="~/Scripts/jquery-1.12.4.js"></script>
	<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
	<script src="~/Scripts/jtable/jquery.jtable.js"></script>
	<link href="~/Scripts/jtable/themes/basic/jtable_basic.css" rel="stylesheet" />
	
	
	<script type="text/javascript">
		$(document).ready(function () {
			$('#ProductTable').jtable({
				title: 'Products',
				actions: {
					listAction: '/ProductModel/ViewProducts',
					createAction: '/ProductModel/Create',
					updateAction: '/ProductModel/Edit',
					deleteAction: 'ProductModel/Delete'
				},
				fields: {
					ProductId: {
						key: true,
						list: false
					},
					ProductName: {
						title: 'Name',
						width: '25%'
					},
					ProductDescription: {
						title: 'Description',
						width: '30%'
					},
					ProductMatrixResolution: {
						title: 'Matrix Resolution',
						width: '10%',
						fontsize: '10'
					},
					ProductCategory: {
						title: 'Category',
						width: '15%'
					},
					ProductPrice: {
						title: 'Price',
						width: '10%'
					},
					ProductIrRange: {
						title: 'IR Range',
						width: '5%'
					}
				}
			});
		});
	</script>
</div>
